---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -bugprone-unchecked-optional-access,
        -hicpp-braces-around-statements,
        -readability-braces-around-statements,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '0'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '0'
...
